# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore any local configuration files
*.local

# Ignore build artifacts
dist
build

# Ignore any temporary files
tmp
temp

# Ignore any environment variable files
.env

# Ignore any IDE specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace